@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
    font-family: 'Quicksand', sans-serif !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
  

}
:root {
    --theme-color: #788a7c;
    --heading-color: #6ed198;
}
.navbar-light {
    background-color: var(--theme-color) !important;
}
.navbar-dark a {
    color: #fff;
}
.navbar-dark a:hover {
    color: var(--heading-color) !important;
}
.masthead {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
.first-btn {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.375rem 2rem;
    border-radius: 0% !important;
}
.first-btn:hover {
    color: #fff;
    background-color: var(--heading-color) !important;
    border-color: black !important;
}
.sec-2nd {
    color: var(--theme-color);
}
.second-btn {
    white-space: nowrap;
    border-radius: 0% !important;
}
.second-btn:hover {
    background-color: var(--heading-color) !important;
    border-color: black !important;
}
.thirdSec {
    background-color: var(--theme-color) !important;
    margin-top: 20px !important;
}
.logo {
    padding: 16px !important;
    width: 6rem !important;
}
.head {
    color: var(--heading-color);
}
.forthSEC {
    font-size: 16px !important;
    color: #6c757d;
    font-weight: 400px;
}
.c-text {
    color: #fff;
    line-height: 30px;
    margin-bottom: 20px !important;
    font-weight: 300 !important;
    font-family: Quicksand, sans-serif !important;
    font-size: 25px !important;
}
.mobile-text {
    display: none;
}
@media only screen and (max-width: 770px) {
    .desktop {
        display: none;
    }
    .mobile-text {
        display: inline;
        color: #fff;
        /* margin-bottom: 10px !important; */
        font-weight: 200 !important;
        font-family: Quicksand, sans-serif !important;
        font-size: 16px !important;
    }
    .nav_color {
        opacity: 80%;
    }
}
.giorgina-text {
    font-size: 16px !important;
    color: #6c757d;
    font-weight: 400px;
}
.giorgina-btn {
    margin-bottom: 50px;
    border-radius: 0% !important;
}
.seventhSec {
    background-color: var(--theme-color);
}
.seventh-btn {
    background-color: var(--theme-color) !important;
    border-color: #fff !important;
    white-space: nowrap;
    color: #fff;
    border-radius: 0% !important;
    margin-bottom: 25px;
}
.seventh-btn:hover {
    background-color: var(--heading-color) !important;
    border-color: #fff !important;
}
.main-hd {
    color: var(--heading-color);
    line-height: 50px;
}
.detail {
    color: #fff;
    
}
.submit-btn {
    width: 6rem !important;
    color: white !important;
    padding: 1rem !important;
    background-color: var(--heading-color);
    border: 1px solid var(--heading-color);
    font-size: 1rem !important;
    float: right;
}
.submit-btn:hover {
    color: white !important;
    background-color: var(--heading-color) !important;
    border-color: black !important;
}
.footer {
    margin-top: 15% !important;
    line-height: 50px;
}
